.np-sticky-note {
  display: flex;
  flex-direction: column;
  color: #242424;
  height: 230px;
  width: 230px;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 20%, 20% 0);
  opacity: 90%;
  transition: 0.3s all ease;
  font-size: small;
  background-color: #e2f188;
}
.np-sticky-note .np-sn-icon {
  max-width: 80px;
  height: auto;
  display: none;
}
.np-sticky-note .np-sn-topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.np-sticky-note .np-sn-topbar .np-sn-fold {
  content: '';
  width: 46px;
  height: 46px;
  background-color: rgba(68, 68, 68, 0.171);
}
h1 {
  line-height: normal;
  color: #242424;
}
p {
  padding: 0rem 1rem;
  color: #242424;
}
.np-sticky-note-content {
  height: 100%;
  cursor: pointer;
}

.np-sticky-note:hover {
  .np-sn-icon {
    display: flex;
  }
  transform: scale(110%);
}
@media (max-width: 768px) {
  .np-sticky-note {
    width: 10rem;
    height: 10rem;

    .np-sn-topbar {
      .np-sn-fold {
        width: 33px;
        height: 33px;
      }
      .np-sn-icon {
        display: flex;
      }
    }
    .np-sticky-note-content {
      h1 {
        font-size: 1rem;
      }
      p {
        font-size: 0.5rem;
      }
    }
  }
}
